.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px auto;
  } 

  .cart-items img {
    width: 150px;
    height: 130px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
  }
  
  .total-price {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }

  .cart-img{
    display: flex;
  }

  .cart-img button{
    margin-top: 7px;
    margin-left: 5px;
  }

   button{
    cursor: pointer;
    padding: 7px 13px;
    border: none;
    background-color: #5f8913;
    color: #fff;
    border-radius: 30px;
    &:hover{
      background-color: #33b558;
      transition: box-shadow 0.3s ease-in-out;
    }
    }


  .cart-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 20px;
  }
    
  
  /* Responsive */
  @media (max-width: 768px) {
    .cart-items {
      gap: 15px;
    }
  }
  